@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Righteous&family=Rowdies&family=Sarala&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Rowdies', cursive;
font-family: 'Sarala', sans-serif;*/
*{
    background-color: bisque;
}


h1{
    letter-spacing: 10px;
    font-size: 19px;
    font-weight: 900;
    text-align: center;
}

p {
    text-align: center;
    padding: 0 100px 0 100px;
    letter-spacing: 2px;
    word-spacing: 15px;
    font-family: 'Montserrat';
    font-size: 30x;
    
    
}



